# For development
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/esolang_battle_2?schema=public"
NEXTAUTH_URL="app_url"
NEXTAUTH_SECRET="nextauth_secret"

SLACK_CLIENT_ID=slack_client_id
SLACK_CLIENT_SECRET=slack_client_secret
