# For production

# DB 接続 (コンテナ同士が通信するためのホスト名は "db")
DATABASE_URL_INTERNAL="postgresql://postgres:password@db:5432/esolang_battle_2"
REDIS_HOST_INTERNAL="redis"

# PostgreSQL の初期設定
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="password"
POSTGRES_DB="esolang_battle_2"

# NextAuth 設定
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-generate-secret-here" # openssl rand -base64 32 などで生成

# Slack OAuth (必須)
SLACK_CLIENT_ID="your-slack-client-id"
SLACK_CLIENT_SECRET="your-slack-client-secret"
